<div class="col-md-3 col-lg-2 sidebar">
        <h5>Navigation</h5>
        <a href="{{ url_for('questions') }}"><i class="bi bi-play-circle-fill"></i> Start Practice</a>
        <!-- <a href="#"><i class="bi bi-graph-up-arrow"></i> Progress</a> -->
        <a href="{{url_for('leaderboard')}}"><i class="bi bi-award-fill"></i> Leaderboard</a>
        <a href="{{url_for('roadmap')}}"><i class="bi bi-compass"></i> Roadmap</a>
        <a href="{{url_for('feedback')}}"><i class="bi bi-chat-dots"></i> Leave Feedback </a>
      </div>